<%= form_for(@ebd) do |f| %>
  <% if @ebd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ebd.errors.count, "error") %> prohibited this ebd from being saved:</h2>

      <ul>
      <% @ebd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :wikipedia_url %><br>
    <%= f.text_field :wikipedia_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
