<p id="notice"><%= notice %></p>

<h1>Listing Ebds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Wikipedia url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ebds.each do |ebd| %>
      <tr>
        <td><%= ebd.name %></td>
        <td><%= ebd.description %></td>
        <td><%= ebd.wikipedia_url %></td>
        <td><%= link_to 'Show', ebd %></td>
        <td><%= link_to 'Edit', edit_ebd_path(ebd) %></td>
        <td><%= link_to 'Destroy', ebd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ebd', new_ebd_path %>
