<p id="notice"><%= notice %></p>

<h1>
  <%= @ebd.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @ebd.description %>
</p>

<p>
  <strong>Wikipedia url:</strong>
  <%= link_to @ebd.wikipedia_url, @ebd.wikipedia_url, :target => 'new' %>
</p>

<div>
  <strong>Related Movies:</strong>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <%= link_to(image_tag(movie.thumbnails, width: '75'), '/movies/' + movie.id.to_s) %>
        <%= link_to movie.name, '/movies/' + movie.id.to_s %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_ebd_path(@ebd) %> |
<%= link_to 'Back', ebds_path %>
