<% if notice %><div data-alert class="success callout"><%= notice %></div><% end %>
<% if alert %><div data-alert class="alert callout"><%= alert %></div><% end %>

  <h1>
    <%= @movie.name %>
  </h1>
  <p>
    <%= @movie.plot %>
  </p>

  <p style='float:right; margin:3pt;'>
    <img src="<%= @movie.thumbnails %>" />
  </p>

<ul>
  <li>
    <strong>Year released:</strong>
    <%= @movie.year_released %>
  </li>

  <li>
    <strong>IMDB Rating:</strong>
    <%= @movie.rating %>
  </li>

  <li>
    <strong>Rating votes:</strong>
    <%= @movie.rating_votes %>
  </li>



  <li>
    <strong>Imdb:</strong>
    <%= link_to @movie.imdb_id, 'http://www.imdb.com/title/' + @movie.imdb_id, target: 'new' %>
  </li>

  <li>
    <strong>Runtime:</strong>
    <%= @movie.runtime %>
  </li>

  <li>
    <strong>Mpaa rating:</strong>
    <%= @movie.mpaa_rating %>
  </li>

  <li>
    <strong>Genre:</strong>
    <%= @movie.genre %>
  </li>

  <li>
    <strong>Director:</strong>
    <%= @movie.director %>
  </li>

  <li>
    <strong>EBDs:</strong>
    <ul>
      <% if !@ebds.blank? %>
        <% for ebd in @ebds %>
          <li><%= ebd.name %> <%= link_to '(remove)', '/ebd-movie-map/unmatch/?movie=' + @movie.id.to_s + '&ebd=' + ebd.id.to_s %></li>          
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>

<%= link_to 'Add EBD', '/movies/' + @movie.id.to_s + '/add-ebd' %> |
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Movies', movies_path %>
