<p id="notice"><%= notice %></p>

<h1>Listing Ebd Movie Maps</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Ebd</th>
      <th>Movie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ebd_movie_maps.each do |ebd_movie_map| %>
      <tr>
        <td><%= ebd_movie_map.description %></td>
        <td><%= ebd_movie_map.ebd %></td>
        <td><%= ebd_movie_map.movie %></td>
        <td><%= link_to 'Show', ebd_movie_map %></td>
        <td><%= link_to 'Edit', edit_ebd_movie_map_path(ebd_movie_map) %></td>
        <td><%= link_to 'Destroy', ebd_movie_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ebd movie map', new_ebd_movie_map_path %>
