<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="top-bar">
      <ul class="horizontal menu">
        <li class="">
          <a href="/movies/">Movies</a>
        </li>
        <li><a href="/ebds/">EBDs</a></li>
        <li><a href="/ebd_movie_maps">EBD Movie Maps</a></li>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
